
/* змінні */

:root {
    --paragraph-text-color:#434455;
    --title-text-color:#434455;
    --violet-text-color:#4D5AE5;
    --color-body-color:#FFFFFF;
    --text-nav-color:#2E2F42;
    --text-adress-color:#434455;
    --text-heder-color: #4D5AE5;
    --text-title-color: #2E2F42; 
    --text-list-color:#434455;
}


 .page { 
    color: var(--color-body-color);
    background-color: #FFFFFF;
    
}
/* logotip */

.logo-web {
    color: rgba(77, 90, 229, 1);
}
.logo-studio {
    color: #2E2F42;
}

/* олір тексту імейла в шапці  */
.site-nav a {
 color: var(--text-nav-color);   
}
/*adress*/
.auth-nav a {
    color: var(--text-adress-color);
}
/*задаємо кнопкап futer та heder*/
.site button {
    color: var(--text-heder-color);
}
.site button:hover {
    color: #FFFFFF;
}
.site button:focus {
   color: #FFFFFF;
   background: var(--text-heder-color);
}
/*додаємо колір відразу усім заголовкам h*/
.hero-title {
    color: var(--text-title-color);
}
/*додаємо колір у параграфи р */
.list {
    color: var(--text-list-color);
}
/*колір тексту футера */

.footer {      
    color: #E7E9FC;
    background: var(--text-title-color);
 }






/* забрати чорні точки 
.ul {
    list-style: none;
}








 колір тексту футера 

.footer {
    color:  #E7E9FC;
    background: #2E2F42;
}
*/



























